@{
    ViewBag.Title = "Ver Ensambles";
}

<h2 class="page-header">@ViewBag.Title</h2>
<div class="telerik-controls">
    @(Html.Kendo().Grid<ProyectoEmbarques.Models.Shipping_Catalog_ProductsViewModel>()
                                .Name("grid")
                                .Columns(columns =>
                                {
                                    columns.Bound(o => o.ProductName).Title("Numero de parte de la pieza").Width(5);
                                    columns.Bound(o => o.AreaName).Title("Area").Width(5);
                                })
                                .Sortable()
                                .Groupable()
                                .Scrollable(scrollable => scrollable.Virtual(true))
                                .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                .HtmlAttributes(new { style = "height: 700px;" })
                                .Pageable(x => x.Numeric(true)
                                .PreviousNext(true)
                                .Refresh(true)
                                .ButtonCount(5))
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(100)
                                    .Read(read => read.Action("Read", "Shipping_Catalog_Products"))) 
           )
    </div>
<style>
    #grid .k-grid-toolbar {
        padding: .75em 1.3em .8333em 1em;
    }

    .toolbar {
        float: right;
    }

    .detalle-reporte-image {
        border: 1px solid #eaeaeb;
        vertical-align: middle;
        box-sizing: content-box;
    }

    .detalle-reporte-wrapper {
        vertical-align: middle;
        margin: 20px;
    }

        .detalle-reporte-wrapper h5 {
            font-size: 11px;
            color: #F26521;
            vertical-align: middle;
            top: 20%;
            position: relative;
            margin-bottom: 20px;
        }

    #grid .k-grid-toolbar {
        padding: .75em 1.3em .8333em 1em;
    }

    .toolbar {
        float: right;
    }

    .detalle-reporte > ul {
        list-style: none;
        font-style: italic;
        margin: 15px;
        padding: 0;
    }

    .detalle-reporte ul li {
        margin: 0;
        line-height: 1.7em;
    }

    .detalle-reporte label {
        display: inline-block;
        width: 110px;
        padding-right: 10px;
        text-align: right;
        font-style: normal;
        font-weight: bold;
        color: #F26521;
    }

    .indicador-Columna {
        background-color: #fdd;
    }
</style>