@{
    ViewBag.Title = "Ver Ensambles";
}

<h2 class="page-header">@ViewBag.Title</h2>

<div class="telerik-controls">
    @(Html.Kendo().Grid<ProyectoEmbarques.Models.Shipping_Catalog_ProductsViewModel>()
                                .Name("grid")
                                    .Sortable()
                                    .ToolBar(tools =>
                                    {
                                        tools.Template(
        @<text>
            <a class="k-button k-button-icontext" href="@Url.Action("Create", "Shipping_Catalog_Products")"><span class="k-icon k-i-add"></span>Agregar Ensamble</a>
        </text>);
                 })
                .Pageable(x => x.Numeric(true)
                .PreviousNext(true)
                .Refresh(true)
                .ButtonCount(5))
                .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model => model.Id(e => e.ProductID))
                .Events(events => events.Error("error_handler"))
                .Read(read => read.Action("Read", "Shipping_Catalog_Products"))
                .PageSize(100)
                )
                .Columns(columns =>
                {
                    columns.Bound(o => o.ProductName).Title("Numero de parte de la pieza").Width(5);
                    columns.Bound(o => o.AreaName).Title("Area").Width(5);
                })
                .Scrollable()
                .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                .HtmlAttributes(new { style = "height: 650px;" })
    )
</div>
@section Scripts{
    <script type="text/javascript">
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
    </script>
}
