@{
    ViewBag.Title = "Ver Ensambles";
}

<h2 class="page-header">@ViewBag.Title</h2>
<div class="telerik-controls">
    @(Html.Kendo().Grid<ProyectoEmbarques.Models.Shipping_Catalog_ProductsViewModel>()
                                .Name("grid")
                                .Columns(columns =>
                                {
                                    columns.Bound(o => o.ProductName).Title("Numero de parte de la pieza").Width(5);
                                    columns.Bound(o => o.AreaName).Title("Area").Width(5);
                                })
                                .Sortable()
                                .Groupable()
                                .Scrollable(scrollable => scrollable.Virtual(true))
                                .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                .HtmlAttributes(new { style = "height: 700px;" })
                                .Pageable(x => x.Numeric(true)
                                .PreviousNext(true)
                                .Refresh(true)
                                .ButtonCount(5))
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(100)
                                    .Read(read => read.Action("Read", "Shipping_Catalog_Products"))) 
           )
    </div>