<div class="telerik-controls">
    @(Html.Kendo().Grid<ProyectoEmbarques.Models.Shipping_RecordsViewModel>()
                    .Name("grid")
                     .ToolBar(tools =>
                    {
                        tools.Template(@<text>
                            <div class="toolbar">
                                <label class="category-label"> De </label>
                                @(Html.Kendo().DatePicker()
                                        .Name("Inicio")
                                        .Value(DateTime.Today)
                                        .Min("07/23/2018")
                                        .HtmlAttributes(new { style = "width: 150px;" }) )
                                <label class="category-label"> &nbsp;&nbsp;&nbsp; a &nbsp;&nbsp;&nbsp; </label>
                                @(Html.Kendo().DatePicker()
                                        .Name("Final")
                                        .Value(DateTime.Today.AddDays(1))
                                        .Min("07/23/2018")
                                        .HtmlAttributes(new { style = "width: 150px;" }) )
                                <a id="btnSearch" class="k-button k-button-icontext" href="#"><span class="glyphicon glyphicon-search"></span> Buscar</a>
                            </div>
                            <a class="k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>Export to Excel</a>
                        </text>);
                            })
                                   .Columns(columns =>
                                   {
                                       columns.Bound(o => o.Shipping_Catalog_Products.ProductName).Title("No. Parte").Width(200);
                                       columns.Bound(o => o.RecordDescripcion).Title("Descripcion").Width(200);
                                       columns.Bound(o => o.RecordQuantity).Title("SumadeCantidad").Width(200);
                                       columns.Bound(o => o.RecordPeso).Title("Peso").Width(200);
                                       columns.Bound(o => o.RecordObservaciones).Title("Observaciones").Width(200);
                                   })
                                   .ToolBar(tools =>
                                   { tools.Excel().Text("Exportar a EXCEL"); })
                                   .Scrollable()
                                   .Pageable()
                                   .Excel(ex => ex.FileName("Manifiesto.XLSX"))
                                   .HtmlAttributes(new { style = "height: 543px;" })
                                   .DataSource(dataSource => dataSource
                                   .Ajax()
                                   .Read(read => read.Action("Read", "EnsamblesRealizados").Data("FilterByDate"))
                                   .PageSize(100)
                                   )
    )
    </div>

    <script>
        function FilterByDate() {
            return {
                starDate: $("#Inicio").val(),
                endDate: $("#Final").val()
            };
        }
        $('#btnSearch').on("click", function (e) {
            $("#grid").data("kendoGrid").dataSource.read();
            return false;
        });</script>

    <style>
        #grid .k-grid-toolbar {
            padding: .75em 1.3em .8333em 1em;
        }
        .toolbar {
            float: right;
        }
        .detalle-reporte-image {
            border: 1px solid #eaeaeb;
            vertical-align: middle;
            box-sizing: content-box;
        }
        .detalle-reporte-wrapper {
            vertical-align: middle;
            margin: 20px;
        }
        .detalle-reporte-wrapper h5 {
            font-size: 11px;
            color: #F26521;
            vertical-align: middle;
            top: 20%;
            position: relative;
            margin-bottom: 20px;
        }
        #grid .k-grid-toolbar {
            padding: .75em 1.3em .8333em 1em;
        }
        .toolbar {
            float: right;
        }
        .detalle-reporte > ul {
            list-style: none;
            font-style: italic;
            margin: 15px;
            padding: 0;
        }
        .detalle-reporte ul li {
            margin: 0;
            line-height: 1.7em;
        }
        .detalle-reporte label {
            display: inline-block;
            width: 110px;
            padding-right: 10px;
            text-align: right;
            font-style: normal;
            font-weight: bold;
            color: #F26521;
        }
        .indicador-Columna {
            background-color: #fdd;
        }
    </style>
