@{
    ViewBag.Title = "Reportes";
}

<h2 class="page-header">@ViewBag.Title</h2>

<div class="row">
    <!-- Modal -->
    @using (Html.BeginForm("PackingList", "Reportes"))
    {
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Packing List</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body py-5">
                        <div class="col-xs-6">
                            <div class="form-group py-5">
                                <h4>Ingrese el Tracking de Fedex</h4>
                                @(Html.Kendo().AutoComplete()
                                              .Name("ParametroFedex")
                                              .DataTextField("RecordFedexTracking")
                                              .Filter(FilterType.Contains)
                                              .DataSource(source =>
                                              {
                                                  source.Read(read =>
                                                  { read.Action("FillCombobox", "Reportes"); })
                                                      .ServerFiltering(false);
                                              })
                                              .HtmlAttributes(new { style = "width:90%;" })
                                              .Template("<i class='fa fa-sitemap' aria-hidden='true'></i><div class=\"k-state-default\" style=\"display: inline-block; \">#:data.RecordFedexTracking" + " #</div>") )
                            </div>
                        </div>
                        <br /><br />
                    </div><br /><br />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" style="width: 20%; height:40px">Generar</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-md-6">
        <h4>Packing List</h4>
        <div class="form-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Exportar .PDF</button>
        </div>

        <h4>Manifiesto</h4>
        <div class="form-group">
            @using (Html.BeginForm("Download_ManifiestoXLSX", "Reportes"))
            {
                <input type="submit" value="Export .XLSX" class="k-button" style="color:#fff; border-color:#e45200; background-color:#ff6b18;" data-target="#exampleModalCenter" />
            }
        </div>

        <h4> Embarques Cantidad Realizada Diariamente </h4>
        <div class="form-group">
            @using (Html.BeginForm("EmbarquesDiarios_PDF", "Reportes"))
            {
                <input type="submit" value="Export .PDF" class="k-button" style="color:#fff; border-color:#e45200; background-color:#ff6b18;" data-target="#exampleModalCenter" />
            }
        </div>

        <div class="form-group">
            @using (Html.BeginForm("EmbarquesDiarios_Excel", "Reportes"))
            {
                <input type="submit" value="Export .XLSX" class="k-button" style="color:#fff; border-color:#e45200; background-color:#ff6b18;" data-target="#exampleModalCenter" />
            }
        </div>
    </div>

    <div class="col-md-6">
        <h4>Embarques Hot Shot Realizados Diariamente</h4>
        <div class="form-group">
            @using (Html.BeginForm("EmbarquesHotShot", "Reportes"))
            {
                <input type="submit" value="Export .PDF" class="k-button" style="color:#fff; border-color:#e45200; background-color:#ff6b18;" data-target="#exampleModalCenter" />
            }
        </div>

        <div class="form-group">
            @using (Html.BeginForm("Download_EmbarquesHotShotXLSX", "Reportes"))
            {
                <input type="submit" value="Export .XLSX" class="k-button" style="color:#fff; border-color:#e45200; background-color:#ff6b18;" data-target="#exampleModalCenter" />
            }
        </div>

        <h4> Reportes por Filtro de Fecha de Emabarque Realizados</h4>
        <div class="form-group">
            @using (Html.BeginForm("ReportesFechaNSerieXLSX", "Reportes"))
            {
                <input type="submit" value=".XLSX (Con N/Serie)" class="k-button" style="color:#fff; border-color:#e45200; background-color:#ff6b18;" data-target="#exampleModalCenter" />
            }
        </div>

        <div class="form-group">
            @using (Html.BeginForm("ReporteFechaNAgrupadosXLSX", "Reportes"))
            {
                <input type="submit" value=".XLSX (N/P Agrupados)" class="k-button" style="color:#fff; border-color:#e45200; background-color:#ff6b18;" data-target="#exampleModalCenter" />
            }
        </div>

        <h4>Reporte Direcciones de Clientes</h4>
        <div class="form-group">
            @using (Html.BeginForm("DireccionesClientes", "Reportes"))
            {
                <input type="submit" value="Etiqueta" class="k-button" style="color:#fff; border-color:#e45200; background-color:#ff6b18;" data-target="#exampleModalCenter" />
            }
        </div>
    </div>
</div>

<style>
    .demo-section.k-content {
        max-width: 490px;
    }

    .img-container {
        margin: 0 auto 2em;
        width: 100%;
        text-align: center;
    }

    .options {
        margin: 0;
        display: inline-block;
        width: 140px;
    }

    .options-container {
        margin: 1em 0;
    }

        .options-container + .options-container {
            margin-top: 1.5em;
        }

    .chartImg {
        width: 490px;
        height: 400px;
    }

    .downloadBtn {
        float: right;
        width: 240px;
        margin: 0 auto;
        display: block;
        margin-top: 15px;
    }

    .options-field {
        display: inline-block;
        width: 100%;
    }

    .k-checkbox-label {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .config-options {
        margin-top: 10px;
    }

        .config-options label:not(:last-of-type) {
            margin-right: 20px;
        }
</style>
