<div class="telerik-controls">
    @(Html.Kendo().Grid<ProyectoEmbarques.Models.Shipping_RecordsViewModel>()
                                .Name("grid")
                                .ToolBar(tools =>
                                { tools.Excel().Text("Exportar a EXCEL"); })
                                .ToolBar(tools =>
                                {
                                    tools.Template(@<text>
                                    <div class="toolbar">
                                        <label class="category-label"> De </label>
                                        @(Html.Kendo().DatePicker()
                                                .Name("Inicio")
                                                .Value(DateTime.Today)
                                                .Min("07/23/2018")
                                                .HtmlAttributes(new { style = "width: 150px;" }) )
                                        <label class="category-label"> &nbsp;&nbsp;&nbsp; a &nbsp;&nbsp;&nbsp; </label>
                                        @(Html.Kendo().DatePicker()
                                                .Name("Final")
                                                .Value(DateTime.Today.AddDays(1))
                                                .Min("07/23/2018")
                                                .HtmlAttributes(new { style = "width: 150px;" }) )
                                        <a id="btnSearch" class="k-button k-button-icontext" href="#"><span class="glyphicon glyphicon-search"></span> Buscar</a>
                                    </div>
                                    <a class="k-button k-button-icontext k-grid-excel" href="#"><span class="k-icon k-i-excel"></span>Export to Excel</a>
                                </text>);
                                    })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(o => o.Shipping_Catalog_Products.ProductName).Title("NPpieza").Width(180);
                                        columns.Bound(o => o.Shipping_Catalog_Products.AreaName).Title("Area").Width(150);
                                        columns.Bound(o => o.Clients.ClientName).Title("Dirigidoa").Width(210);
                                        columns.Bound(o => o.Clients.ClientAddress).Title("Compañia").Width(150);
                                        columns.Bound(o => o.RecordWorkOrder).Title("JobNumber").Width(150);
                                        columns.Bound(o => o.RecordTrackingId).Title("TrackingPapeleria").Width(150);
                                        columns.Bound(o => o.RecordSerialNo).Title("NoSerie").Width(150);
                                        columns.Bound(o => o.RecordQuantity).Title("Cantidad").Width(150);
                                        columns.Bound(o => o.RecordDate).Title("Fecha de Embarque").Width(150);
                                        columns.Bound(o => o.RecordFedexTracking).Title("TrackingCajadeEnvio").Width(130);
                                        columns.Bound(o => o.CatalogShipmentType.ShipmentType).Title("Tipo de Embarque").Width(140);
                                        columns.Bound(o => o.RecordServiceType).Title("TipoServicio").Width(150);
                                        columns.Bound(o => o.RecordSeguritySeal1).Title("Sello 1").Width(150);
                                        columns.Bound(o => o.RecordSeguritySeal2).Title("Sello 2").Width(150);
                                        columns.Bound(o => o.RecordSeguritySeal3).Title("Sello 3").Width(150);
                                        columns.Bound(o => o.RecordSeguritySeal4).Title("Sello 4").Width(150);
                                        columns.Bound(o => o.RecordComment).Title("Comentario").Width(200);
                                        columns.Bound(o => o.RecordComment1).Title("Comentario1").Width(200);
                                        columns.Bound(o => o.RecordComment2).Title("Comentario2").Width(200);

                                    })
                                    .Scrollable()
                                    .Pageable()
                                    .Excel(ex => ex.FileName("Ver Embarques Realizados con N_Serie.XLSX"))
                                    .HtmlAttributes(new { style = "height: 700px;" })
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Read(read => read.Action("Read", "EnsamblesRealizados").Data("FilterByDate"))
                                        .PageSize(100)
                                        )
    )
</div>

<script>
    function FilterByDate() {
        return {
            starDate: $("#Inicio").val(),
            endDate: $("#Final").val()
        };
    }
    $('#btnSearch').on("click", function (e) {
        $("#grid").data("kendoGrid").dataSource.read();
        return false;
    });</script>

<style>
    #grid .k-grid-toolbar {
        padding: .75em 1.3em .8333em 1em;
    }
    .toolbar {
        float: right;
    }
    .detalle-reporte-image {
        border: 1px solid #eaeaeb;
        vertical-align: middle;
        box-sizing: content-box;
    }
    .detalle-reporte-wrapper {
        vertical-align: middle;
        margin: 20px;
    }
    .detalle-reporte-wrapper h5 {
        font-size: 11px;
        color: #F26521;
        vertical-align: middle;
        top: 20%;
        position: relative;
        margin-bottom: 20px;
    }
    #grid .k-grid-toolbar {
        padding: .75em 1.3em .8333em 1em;
    }
    .toolbar {
        float: right;
    }
    .detalle-reporte > ul {
        list-style: none;
        font-style: italic;
        margin: 15px;
        padding: 0;
    }
    .detalle-reporte ul li {
        margin: 0;
        line-height: 1.7em;
    }
    .detalle-reporte label {
        display: inline-block;
        width: 110px;
        padding-right: 10px;
        text-align: right;
        font-style: normal;
        font-weight: bold;
        color: #F26521;
    }
    .indicador-Columna {
        background-color: #fdd;
    }
</style>

