<footer>
    <div class="footer-background">
        <div class="container">
            <div class="col-md-4 text-left">
                <a href="@Url.Action("Index", "Inicio", new { area = "" })" class="bae-logo-grey"></a>
                <p style="font-size:11px;"><i class=" fa fa-map-marker" aria-hidden="true"></i>&nbsp;Carretera Internacional KM 129 Salida Norte,<br /> Parque Industrial Roca Fuerte, 85420<br /><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;622 221 42 26</p>
            </div>
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Acerca</h5>
                <ul class="list-unstyled">
                    <li> <a href="http://apps.bae.gym/Compania/codigoConducta">Código de Conducta</a> </li>
                    <li> <a href="http://apps.bae.gym/Compania/Mision">Misión y Visión</a> </li>
                    <li> <a href="http://apps.bae.gym/Compania/PoliticaCalidad">Política de Calidad</a> </li>
                </ul>
            </div>
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold">Reglamentos</h5>
                <ul class="list-unstyled">
                    <li><a href="http://apps.bae.gym/IT/Acerca/Reglamento">IT</a></li>
                    <li><a href="http://apps.bae.gym/SHE/Reglas">SHE</a></li>
                </ul>
            </div>
            <div class="col-md-2 mx-auto">
                <h5 class="title mb-4 mt-3 font-bold ">Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a href="http://www.baesystems.com">BAE Systems Inc.</a></li>
                    <li> <a href="http://apps.bae.gym/Sitemap">Sitemap</a> </li>
                    <li><a href="https://entdesktop.safelnk.net/vpn/index.html">Citrix</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="background-color:#000; padding:10px; font-size:small;">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - BAE Systems Guaymas</p>
        </div>
    </div>
</footer>