<nav class="navbar navbar-fixed-top" role="navigation" style="box-shadow: 0 0 2px rgba(0,0,0,.2);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a href="http://apps.bae.gym/" class="baeImage"></a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown dropdown-large">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Areas<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-large col-lg-4">
                        <li class="col-sm-4">
                            <ul>
                                <li><h4 class="bae-color"><i class="fa fa-fw fa-building" aria-hidden="true"></i>&nbsp;Areas</h4></li>
                                <li class="divider"></li>
                                <li><a href="http://apps.bae.gym/Calibracion">Calibración</a></li>
                                <li><a href="http://apps.bae.gym/Calidad">Calidad</a></li>
                                <li><a href="http://apps.bae.gym/ControlDeDocumentos">Control de Doc.</a></li>
                                <li><a href="http://apps.bae.gym/Embarques">Embarques</a></li>
                                <li><a href="http://apps.bae.gym/Finanzas">Finanzas</a></li>
                                <li><a href="http://apps.bae.gym/IT">IT</a></li>

                            </ul>
                        </li>
                        <li class="col-sm-4">
                            <ul>
                                <li><h4>&ensp;</h4></li>
                                <li class="divider"></li>
                                <li><a href="http://apps.bae.gym/Mantenimiento">Mantenimiento</a></li>
                                <li><a href="http://apps.bae.gym/Materiales">Materiales</a></li>
                                <li><a href="http://apps.bae.gym/NuevosProductos">Nuevos Productos</a></li>
                                <li><a href="http://apps.bae.gym/Procesos">Procesos</a></li>
                                <li><a href="http://apps.bae.gym/Produccion">Producción</a></li>
                                <li><a href="http://apps.bae.gym/PruebaElectrica">Prueba Eléctrica</a></li>


                            </ul>
                        </li>
                        <li class="col-sm-4">
                            <ul>
                                <li><h4>&ensp;</h4></li>
                                <li class="divider"></li>
                                <li><a href="http://apps.bae.gym/RH">RH</a></li>
                                <li><a href="http://apps.bae.gym/SHE">SHE</a></li>
                                <li><a href="http://apps.bae.gym/Sourcing">Sourcing</a></li>
                                <li><a href="http://apps.bae.gym/Supermercado">Supermercado</a></li>
                                <li><a href="http://apps.bae.gym/UniversidadBAE">Universidad BAE Systems</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aplicaciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://166.62.40.179/compras">Compras</a></li>
                        <li><a href="http://apps.bae.gym/BaseDatos/Defectos/">Defectos</a></li>
                        <li><a href="http://apps.bae.gym:81/SistemaHoras/">Horas</a></li>
                        <li><a href="http://apps.bae.gym/BaseDatos/PullTest/">Prueba de Jalón</a></li>
                        <li><a href="http://apps.bae.gym/BaseDatos/Scrap/">Scrap</a></li>
                        <li class="dropdown-submenu">
                            <a href="#">Smart Clima</a>
                            <ul class="dropdown-menu">
                                <li><a href="https://smart-clima.software-human.com/empresas.php">Coordinador</a></li>
                                <li><a href="http://smart-clima.software-human.com/evaluador.php">Evaluador</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Smart 360</a>
                            <ul class="dropdown-menu">
                                <li><a href="https://smart-360.software-human.com/empresas.php">Coordinador</a></li>
                                <li><a href="https://smart-360.software-human.com/evaluador.php">Evaluador</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">Smart Peformance</a>
                            <ul class="dropdown-menu">
                                <li><a href="https://smart-performance.humansmart.pro/empresas.php">Coordinador</a></li>
                                <li><a href="https://smart-performance.humansmart.pro/usuarios.php">Evaluador</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">PsicoSmart</a>
                            <ul class="dropdown-menu">
                                <li><a href="http://psicosmart.humansmart.pro/empresas.php">Coordinador</a></li>
                                @*<li><a href="http://psicosmart.humansmart.pro/empresas.php">Evaluador</a></li>*@
                            </ul>
                        </li>
                        <li><a href="http://apps.bae.gym/BaseDatos/TPM/">TPM</a></li>
                        <li><a href="http://apps.bae.gym/BaseDatos/Wips/">Wips</a></li>
                    </ul>
                </li>
                <li><a href="http://apps.bae.gym/Blog/Noticias/">Noticias y Eventos</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nuestra Compañía<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://apps.bae.gym/Compania/Acerca">Acerca</a></li>
                        <li><a href="http://apps.bae.gym/Compania/Sugerencias">Buzón de Sugerencias</a></li>
                        <li><a href="http://apps.bae.gym/Compania/codigoConducta">Código de Conducta</a></li>
                        <li><a href="http://apps.bae.gym/Compania/FactoresHumanos">Factores Humanos</a></li>
                        <li><a href="http://apps.bae.gym/Compania/Mision">Misión y Visión</a></li>
                        <li><a href="http://apps.bae.gym/Compania/Identidad">Nuestra Identidad</a></li>
                        <li><a href="http://apps.bae.gym/Compania/PoliticaCalidad">Política de Calidad</a></li>
                        <li><a href="http://apps.bae.gym/Compania/Objetivos">Objetivos</a></li>
                        <li><a href="http://apps.bae.gym/Compania/Organigrama">Organigrama</a></li>
                        <li><a href="http://apps.bae.gym/Compania/Principios">Principios</a></li>
                        <li><a href="http://apps.bae.gym/Compania/ServiciosPlus">Servicios +</a></li>
                        <li><a href="http://apps.bae.gym/Compania/Valores">Valores</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ayuda<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://apps.bae.gym/Ayuda/Enlaces">Enlaces</a></li>
                        <li><a href="http://apps.bae.gym/Ayuda/Directorio">Directorio</a></li>
                        <li><a href="http://apps.bae.gym/Ayuda/HelpDesk">HelpDesk</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
