@{
    ViewBag.Title = "Sumario ";
}

<h2 class="page-header">@ViewBag.Title de Embarques</h2>

<div class="telerik-controls">
    @(Html.Kendo().Grid<ProyectoEmbarques.Models.EmbarqueEnsamblesViewModel>()

                                            .Name("grid")

                                            .ToolBar(tools =>
                                            {
                                            tools.Template(@<text>

                                                <div class="toolbar">
                                                    <label class="category-label">De</label>
                                                    @(Html.Kendo().DatePicker()
                                                                            .Name("Inicio")
                                                                            .Value(DateTime.Today)
                                                                            .Min("07/23/2018")
                                                                            .HtmlAttributes(new { style = "width: 150px;" })
                                                    )
                                                    <label class="category-label">&nbsp;&nbsp;&nbsp; a &nbsp;&nbsp;&nbsp;</label>
                                                    @(Html.Kendo().DatePicker()
                                                                            .Name("Final")
                                                                            .Value(DateTime.Today.AddDays(1))
                                                                            .Min("07/23/2018")
                                                                            .HtmlAttributes(new { style = "width: 150px;" })
                                                    )
                                                    <a id="btnSearch" class="k-button k-button-icontext" href="#"><span class="glyphicon glyphicon-search"></span> Buscar</a>
                                                </div>
                                            </text>);
                                            })



                                                    .Columns(columns =>
                                                    {
                                                        columns.Bound(o => o.ProductID).Width(150);
                                                        columns.Bound(o => o.Areas).Width(150);
                                                        columns.Bound(o => o.ClientID).Width(150);
                                                        columns.Bound(o => o.Compañia).Width(150);
                                                        columns.Bound(o => o.RecordPieceBoxNo).Width(150);
                                                        columns.Bound(o => o.RecordTrackingId).Width(150);
                                                        columns.Bound(o => o.RecordSerialNo).Width(150);
                                                        columns.Bound(o => o.RecordQuantity).Width(150);
                                                        columns.Bound(o => o.RecordDate).Width(150).Filterable(false);
                                                        columns.Bound(o => o.RecordTrackingFedex).Width(150);
                                                        columns.Bound(o => o.RecordControlBoxNo).Width(160);
                                                        columns.Bound(o => o.ShipmentTypeID).Width(150);
                                                        columns.Bound(o => o.RecordSeguritySeal).Width(150);
                                                        columns.Bound(o => o.RecordComment).Width(150);
                                                        columns.Bound(o => o.RecordComment1).Width(150);
                                                        columns.Bound(o => o.RecordComment2).Width(150);
                                                        columns.Bound(o => o.RecordRework).Width(180);
                                                    })
                                                    .Sortable()
                                                    .Scrollable(scrollable => scrollable.Virtual(true))
                                                    .HtmlAttributes(new { style = "height: 500px;" })
                                                    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                                    .DataSource(dataSource => dataSource
                                                        .Ajax()
                                                        .PageSize(100)
                                                        .Read(read => read.Action("Read", "EnsamblesRealizados"))
                                                     )
    )

</div>

<style>

    /*horizontal Grid scrollbar should appear if the browser window is shrinked too much*/
    #grid table {
        min-width: 1000px;
    }
</style>