@{
    ViewBag.Title = "Ver Cliente";
}

<h2 class="page-header">@ViewBag.Title</h2>
<div class="telerik-controls">
    @(Html.Kendo().Grid<ProyectoEmbarques.Models.ClientesViewModel>()
                                    .Name("grid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(o => o.ClientName).Title("Nombre del Cliente").Width(200);
                                        columns.Bound(o => o.ClientAddress).Title("Direccion").Width(200);
                                    })
                                    .Sortable()
                                    .Groupable()
                                    .Scrollable(scrollable => scrollable.Virtual(true))
                                    .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
                                    .HtmlAttributes(new { style = "height: 700px;" })
                                    .Pageable(x => x.Numeric(true)
                                    .PreviousNext(true)
                                    .Refresh(true)
                                    .ButtonCount(5))
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(100)
                                        .Read(read => read.Action("Read", "Clientes"))) 
            )
    </div>
