@model ProyectoEmbarques.Models.Shipping_RecordsViewModel
@{
    ViewBag.Title = "HOT SHOT ";
}
<div class="telerik-controls">
    @(Html.Kendo().Grid<ProyectoEmbarques.Models.Shipping_RecordsViewModel>()
            .Name("grid")
            .Selectable()
            .ToolBar(tools =>
            {
                tools.Template(@<text>
                    <a class="k-button k-button-icontext k-grid-pdf" href="#"><span class="k-icon k-i-pdf"></span>HOT SHOT PDF</a>
                    <div class="toolbar">
                        <label class="category-label"> De </label>
                        @(Html.Kendo().DatePicker()
                                .Name("Inicio")
                                .Value(DateTime.Today)
                                .Min("01/01/2018")
                                .HtmlAttributes(new { style = "width: 150px;" }) )
                        <label class="category-label"> &nbsp;&nbsp;&nbsp; a &nbsp;&nbsp;&nbsp; </label>
                        @(Html.Kendo().DatePicker()
                                .Name("Final")
                                .Value(DateTime.Today.AddDays(1))
                                .Min("07/01/2018")
                                .HtmlAttributes(new { style = "width: 150px;" }) )
                        <a id="btnSearch" class="k-button k-button-icontext" href="#"><span class="glyphicon glyphicon-search"></span> Buscar </a>
                    </div>
                    </text>);
            })
                        .Scrollable()
                        .Reorderable(reordable => reordable.Columns(true))
                        .Resizable(resize => resize.Columns(true))
                        .Sortable()
                        .Pageable()
                        .Pdf(d=>d.AllPages())
                        .Pageable(x => x.Numeric(true)
                            .PreviousNext(true)
                            .Refresh(true)
                            .ButtonCount(5))
                        .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model => { model.Id(id => id.RecordID); })
                                .Events(events => events.Error("error_handler"))
                                .Read(read => read.Action("ReadHotShot", "EnsamblesRealizados").Data("FilterByDate"))
                                .PageSize(500))
                        .Columns(columns =>
                        {
                            columns.Bound(o => o.Shipping_Catalog_Products.ProductName).Width(170).Title("P/N");
                            columns.Bound(o => o.RecordQuantity).Width(120).Title("Qty");
                            columns.Bound(o => o.RecordSerialNo).Width(100).Title("No.Serie");
                            columns.Bound(o => o.Clients.ClientName).Title("Attention").Width(180);
                            columns.Bound(o => o.Clients.ClientCompany).Title("Organization").Width(200);
                            columns.Bound(o => o.RecordFedexTracking).Width(130).Title("Tracking FedEx");
                            columns.Bound(o => o.Shipping_Catalog_Products.ProductType).Width(150).Title("Material Type");
                            columns.Bound(o => o.RecordServiceType).Width(140).Title("Service");
                        })
                        .Pdf(pdf => pdf.FileName("List of Parts  Hot Shot (" + DateTime.Now.ToString("dd-MMM-yyyy") + ").pdf"))
                        .HtmlAttributes(new { style = "height: 650px" }) )
    </div>
<script>
    function FilterByDate() {
        return {
            starDate: $("#Inicio").val(),
            endDate: $("#Final").val()
        };
    }

    $('#btnSearch').on("click", function (e) {
        $("#grid").data("kendoGrid").dataSource.read();
        return false;
    });
</script>

@section Scripts {
    <script type="text/javascript">
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
    </script>
    }
    <style>
        .k-edit-form-container {
            width: 650px;
        }
    </style>

    <style>

        #grid .k-grid-toolbar {
            padding: .75em 1.3em .8333em 1em;
        }

        .toolbar {
            float: right;
        }

        .indicador-Columna {
            background-color: #fdd;
        }

        .k-pdf-export .k-grid-toolbar,
        .k-pdf-export .k-grouping-header,
        .k-pdf-export .k-command-cell,
        .k-pdf-export .k-grid-top,
        .k-pdf-export .k-pager-wrap,
        .k-pdf-export .k-filter-row,
        .k-pdf-export .k-header-column-menu k-state-border-down {
            display: none;
        }
    </style>