<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.BAESystemsGuaymas"
            connectionString="Data Source=192.168.1.162;Initial Catalog=BAESystemsGuaymas;User ID=BAE_dba;Password=Developer1."
            providerName="System.Data.SqlClient" />
        <add name="ClassLibrary1.Properties.Settings.BAESystemsGuaymas123"
            connectionString="Data Source=192.168.1.162;Initial Catalog=BAESystemsGuaymas;User ID=BAE_dba;Password=Developer1."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>