
/*Load BAE Systems Web Regular Font*/
@font-face {
    font-family: 'BAESystemsWeb-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/baesofie/latin/regular/BAESystemsWeb-Regular.eot');
    src: url('fonts/baesofie/latin/regular/BAESystemsWeb-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/baesofie/latin/regular/BAESystemsWeb-Regular.woff2') format('x-woff2'), url('../fonts/BAESystemsWeb-Regular.woff') format('woff');
}

/*Load BAE Systems Web Bold Font*/
@font-face {
    font-family: 'BAESystemsWeb-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/baesofie/latin/bold/BAESystemsWeb-Bold.eot');
    src: url('fonts/baesofie/latin/bold/BAESystemsWeb-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/baesofie/latin/bold/BAESystemsWeb-Bold.woff2') format('x-woff2'), url('../fonts/BAESystemsWeb-Bold.woff') format('woff');
}

/*BAE Systems Web Regular Font*/
.bae-font {
    font-family: BAESystemsWeb-Regular;
    font-size: 20px;
}

/*BAE Headings*/
h1, h2, h3, h4, h5, h6 {
    font-family: BAESystemsWeb-Bold;
}

/*BAE Header Font Color*/
.bae-title {
    color: white;
    font-family: 'BAESystemsWeb-Regular';
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
}

    /*Special Char Before Heading Title*/
    .bae-title:before {
        content: "▌";
        font-family: Arial;
        color: #F26521;
        font-size: 28px;
        float: left;
    }

/*Panel Heading*/
.bae-panel-heading {
    font-family: BAESystemsWeb-Bold;
    font-size: 18px;
}

/*BAE Header Background*/
/*.bae-header{
    background-image: url('../Content/Images/heading-banner.png');
}*/

/*BAE Systems Default Color*/
.bae-color {
    color: #F26521;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -168px;
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1270px;
    }
}

.push {
    height: 189px;
}




.bae-quick-links a:hover {
    color: #bcb4b0;
}

/*BAE Systems Logo*/
.bae-logo {
    background: url(../Content/Images/bae-logo.svg) no-repeat top left;
    display: block;
    Margin-top: 8px;
    width: 140px;
    height: 40px;
}

.bae-logo-grey {
    display: block;
    background: url(../Content/Images/bae-logo-grey.png) no-repeat;
    margin-bottom: 10px;
    width: 120px;
    height: 28px;
}

.bae-list {
    list-style: none;
    padding-left: 40px;
    position: relative;
}

    .bae-list li:before {
        font-family: FontAwesome;
        color: #F26521;
        content: "\f00c";
        position: absolute;
        left: 10px;
    }

/*BAE Systems News Ticker */
#ticker_container {
    margin-top: 6px;
}

#newscontent {
    margin-right: 10px;
    float: left;
}

    #newscontent a {
        color: #585858;
    }

#news {
    display: none;
}

#controls {
    float: right;
    height: 16px;
}

#news {
    display: none;
}

/*BAE Systems Directory Card*/
.thumb {
    width: 55px;
    height: 60px;
    -webkit-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s;
}

.detalles .fa-envelope, .detalles .fa-mobile, .detalles .fa-bolt {
    color: #F26521;
}

.nombre p {
    float: right;
    margin-top: -25px
}

.detalles p {
    font-size: 14px;
}

.puesto {
    color: #F26521;
    font-size: 14px;
    font-style: italic;
}

.detalles {
    display: none;
}

    .detalles p {
        margin-bottom:0px;
    }

/*BAE Systems  Home Page Carousel */
header.carousel {
    height: 50%;
}

    header.carousel .item, header.carousel .item.active, header.carousel .carousel-inner {
        height: 100%;
    }

    header.carousel .fill {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

/*BAE Systems Welcome greeting*/
.greeting-title, .greeting-title h1 {
    font-family: BAESystemsWeb-Bold;
    font-size: 46px;
    color: black;
}

    .greeting-title div.dropdown a 
    {
        color: black;
    }

/*BAE Systems News Section */
.news-card {
    display: inline-block;
    width: 100%;
    height: 190px;
    border-radius: 4px;
    margin: 0 10px 10px 0;
    background-color: #f3f2f2;
    border: 1px solid #cccccc;
    border-top: 3px solid #F47421;
}

    .news-card h4:hover {
        text-decoration: none;
        color: #F47421;
    }

    .news-card .blog-category {
        padding: 3px 15px;
        color: #FFFFFF;
        float: right;
        font-size: 10px;
        text-transform: uppercase;
        background-color: #F47421;
    }

/*BAE Systems  Services Section */
.service-box .service-icon {
    width: 85px;
    height: 85px;
    border-radius: 60px;
    overflow: hidden;
    border: 1px solid #e9e9e9;
    line-height: 85px;
    text-align: center;
    color: #F26521;
    font-size: 40px;
    margin: auto;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}


@media(max-width:767px) {
    .bae-title {
        Margin-left: 10px;
    }

    .bae-area-menu {
        margin-top: 20px;
    }

    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }

    .baeImage 
    {
        background: url(../Content/Images/bae-logo.svg) no-repeat top;
        Margin-top: 8px;
        Margin-left: 10px;
        background-position: top;
        height: 40px;
    }
}

@media(max-width:991px) {
    .customer-img, .img-related {
        margin-bottom: 30px;
    }
}

footer h5 {
    margin-bottom: 5px;
    color: #cdcdcd;
}

footer a {
    color: #666;
    font-size: 11px;
}

    footer a:hover {
        color: #666;
        text-decoration: underline;
    }

.footer-background {
    background-color: #222;
    padding: 20px;
}

/*************************************************BAE Systems Custom Boostrap Properties***********************************************************/
.badge 
{
    background-color: #F26521;
}

.alert-message-bae 
{
    background-color: #fcdecf;
    border-color: #faceb7;
    color: #F26521;
}

.demo-section 
{
    padding-top: 10px;
    padding-right: 70px;
    border: 1px solid rgba(20,53,80,0.14);
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
}

a, a:hover, a:focus {
    color: #F26521;
    text-decoration: none;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
}

/* Boostrap - Navbar */
.navbar {
    border-bottom: 2px solid #F26521;
}

.navbar-nav > li {
    font-family: BAESystemsWeb-Bold;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 35px;
    color: #fff;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
    }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    /*background-color: rgb(242, 101, 33);*/
    /*background-color: #474c55;*/
    color: #fff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #F26521;
}

.nav .open > a:focus {
    color: black;
}

.navbar a {
    color: black;
}

.navbar-brand {
    padding: 15px 0px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-brand, .navbar-default .navbar-text {
    color: #fff;
    margin-top: 35px;
}

.navbar .navbar-toggle {
    border-color: #808080;
}

    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:active {
        border-color: #333;
    }

    .navbar .navbar-toggle .icon-bar {
        background-color: #808080;
    }

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #ffffff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.dropdown-large {
    position: static !important;
    width: auto;
}

.dropdown-menu-large {
    margin-right: 335px;
    padding: 10px 0px;
}

    .dropdown-menu-large > li > ul {
        padding: 0;
        margin: 0;
    }

        .dropdown-menu-large > li > ul > li {
            list-style: none;
        }

            .dropdown-menu-large > li > ul > li > a {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: 1.428571429;
                color: #333333;
                white-space: normal;
            }

                .dropdown-menu-large > li > ul > li > a h4 {
                    color: #F26521;
                    margin-top: 2px;
                    margin-bottom: 2px;
                }

                .dropdown-menu-large > li > ul > li > a:hover h4 {
                    color: #fff;
                }

    .dropdown-menu-large > li ul > li > a:hover, .dropdown-menu-large > li ul > li > a:focus {
        text-decoration: none;
        color: #fff;
        background-color: #F26521;
    }

    .dropdown-menu-large .disabled > a, .dropdown-menu-large .disabled > a:hover, .dropdown-menu-large .disabled > a:focus {
        color: #999999;
    }

        .dropdown-menu-large .disabled > a:hover, .dropdown-menu-large .disabled > a:focus {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            cursor: not-allowed;
        }

    .dropdown-menu-large .dropdown-header {
        color: #F26521;
        font-size: 18px;
    }

.dropdown-menu.columns-3 {
    min-width: 600px;
}

.multi-column-dropdown {
    list-style: none;
}

    .multi-column-dropdown li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        color: #333;
        white-space: normal;
    }

        .multi-column-dropdown li a:hover {
            text-decoration: none;
            color: #262626;
            background-color: #f5f5f5;
        }

@media(max-width:767px) {
    .navbar-nav .dropdown-menu .caret {
        transform: rotate(-90deg);
    }

    .navbar-default .navbar-toggle {
        margin-top: 20px;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 10px;
    }

        .navbar-default .navbar-nav > li > a:hover {
            /*background-color: rgb(242, 101, 33);*/
            background-color: #474c55;
            color: #fff;
        }

    .dropdown-menu > li > a 
    {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857;
        color: #333;
        white-space: nowrap;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus 
    {
        color: #fff;
        background-color: #F26521;
    }

    .dropdown-menu-large 
    {
        margin-left: 0;
        margin-right: 0;
    }

        .dropdown-menu-large > li 
        {
            margin-bottom: 30px;
        }

            .dropdown-menu-large > li:last-child 
            {
                margin-bottom: 0;
            }

        .dropdown-menu-large .dropdown-header 
        {
            padding: 3px 15px !important;
        }

    .dropdown-menu.multi-column 
    {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}

/*Boostrap - Breadcrums*/
#breadcrumbs-one {
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
    list-style: none;
    font-size: 12px;
    padding: 0;
}

    #breadcrumbs-one li {
        float: left;
    }

    #breadcrumbs-one a {
        padding: .5em 1em .5em 2em;
        float: left;
        text-decoration: none;
        color: #fff;
        position: relative;
        background-color: #727a7f;
    }

    #breadcrumbs-one li:first-child a {
        padding-left: 1em;
        border-radius: 3px 0 0 3px;
    }

    #breadcrumbs-one li:last-child a {
        background: #F26521;
    }

    #breadcrumbs-one a:hover {
        background: #c7c7c7;
    }

    #breadcrumbs-one a::after, #breadcrumbs-one a::before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -1.5em;
        border-top: 1.5em solid transparent;
        border-bottom: 1.5em solid transparent;
        border-left: 1em solid;
        right: -1em;
    }

    #breadcrumbs-one a::after {
        z-index: 2;
        border-left-color: #727a7f;
    }

    #breadcrumbs-one li:last-child a::after {
        z-index: 2;
        border-left-color: #F26521;
    }

    #breadcrumbs-one a::before {
        border-left-color: #fff;
        right: -1.2em;
        z-index: 1;
    }

    #breadcrumbs-one a:hover::after {
        border-left-color: #c7c7c7;
    }


    #breadcrumbs-one .current, #breadcrumbs-one .current:hover {
        font-weight: bold;
        background: none;
    }

        #breadcrumbs-one .current::after, #breadcrumbs-one .current::before {
            content: normal;
        }


/*******************************************************BAE Systems Custom Telerik Properties***************************************************/
.telerik-controls {
    font-size: 11px;
}

.k-event {
    font-size: 11px;
    height: 0px;
}
